<h1>Lista de las preguntas disponibles</h1>


<p>
  <%= link_to 'Nueva pregunta', new_question_path %>
</p>

<!--El cuestionario-->
<%= form_tag 'user_answers' do %>
<!--%= form_tag 'user_answers#submit_user_answer' do %-->

  <% questions_counter = 1%>
  <% @questions.each do |question| %>
    <%= questions_counter%>)
    <%= render question %>
    <% questions_counter = questions_counter +1%>

    <!--Imprimimos las respuestas de esta pregunta-->
    <%= render question.answers %>

  <% end %>

  <%= submit_tag "Guardar respuestas" %>
<% end %>