<!DOCTYPE html>
<html>
<head>
  <title>Cómo la quieres | Fundación Nosotros Ciudadanos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Cómo la quieres | Fundación Nosotros Ciudadanos"/>
  <meta property="og:description" content="¿Cómo quieres la nueva Constitución de nuestro país?" />
  <meta property="og:image" content="http://nuevaconstitucion.herokuapp.com/logo-small.png">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="https://use.typekit.net/c/a128da/1w;proxima-nova,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,gbm:W:i4,gbt:W:i7,gbj:W:n3,gbl:W:n4,gbs:W:n7/l?3bb2a6e53c9684ffdc9a9bf21f5b2a62e0aa097ce99d70af0d47c9d0f7c72882e809db4e2126084a69283e7e297c3b92d96010ca2b53c32c141e663d584267a7840f89487a9128d24eefef8f692cb07eba0fc9184b53e88be6b384e647ec8afd4f29b28258a4ed23ad6dce403aa8f7facbc1e9cc37b1cfaa4345714b6e49dc698044496cf6e781de70ee78bea750313406" media="all">
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>

<body ng-app='encuestaNuevaConstitucion'>

  <%= render 'layouts/header' %>
  <div class="row page-title">
    <div class = "container">
      <div class="col s12">
        <div class="subtitle">
          <%= link_to 'Portada ' %>/
        </div>
        <h3>Cómo la quieres</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col s12">


        </div>
      </div>


      <div class="row">

        <div class="col s12">
          <%= yield %>
        </div>
      </div>

    </div>

  </div>

  <%= render 'layouts/footer' %>

</body>



</html>
